# Project configuration
PROJECT_NAME=HypeRoom
API_V1_STR=/api/v1
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/mydb

# VNPT vnSocial API settings
VNSOCIAL_LOGIN_URL=https://api-vnsocialplus.vnpt.vn/social-api/v1/login
VNSOCIAL_USERNAME=your_username_here
VNSOCIAL_PASSWORD=your_password_here
VNSOCIAL_TOKEN=
VNSOCIAL_PROJECTS_URL=https://api-vnsocialplus.vnpt.vn/social-api/v1/projects
VNSOCIAL_HOT_POSTS_URL=https://api-vnsocialplus.vnpt.vn/social-api/v1/projects/hot-posts
VNSOCIAL_TIMEOUT_SECONDS=10.0

# Tavily Search API key
TAVILY_API_KEY=your_tavily_api_key_here

# VNPT SmartBot API settings
VNPT_SMARTBOT_API_URL=https://api.vnpt.vn/smartbot/v2/chat
VNPT_SMARTBOT_TOKEN=your_vnpt_token_here
VNPT_SMARTBOT_ID=your_smartbot_id_here
